h1 {
  zoom: 4;
}
p {
  zoom: 2;
}
li {
  zoom: 2;
}
img {
  zoom: 1.5;
}
a {
  zoom: 2;
}
.animado {
  animation: aparecer 1s ease-in-out;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
